html, body { height: 100%; margin: 0; }

#grid-container * { 
 border: 1px solid red;
 position: relative;
}

#grid-container *:after { 
 content:attr(class);
 position: absolute;
 top: 0;
 left: 0;
}

#grid-container {
    height: 420px;
    width: 700px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1fr 0.8fr 1.2fr 1fr 1.4fr 0.6fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr 1.5fr;
}

#tracks { 
    grid-area: 3 / 6 / 11 / 12; 
}

#currently-playing { 
    grid-area: 1 / 6 / 3 / 12; 
}

#album-cover { 
    grid-area: 1 / 4 / 5 / 6; 
}

#fox-logo { 
    grid-area: 1 / 1 / 4 / 4; 
}

#new-playlist { 
    grid-area: 4 / 1 / 5 / 4; 
}

#playlist { 
    grid-area: 5 / 1 / 11 / 6; 
}

#control-panel { 
    grid-area: 11 / 1 / 12 / 12; 
}
